@import './country-list.scss';
@import './country.scss';

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.light {
    background-color: #F2F2F2;
}

.light-header {
    background-color: #fff;
}

.dark {
    background-color: #202C36;
}

.dark-header {
    background-color: #2B3844;
}