.search {
  padding: 50px;
  position: sticky;
  display: flex;
  justify-content: space-between;

  input {
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 300px;
    padding: 10px;
  }
}
