@import "./components/Header/header.scss";
@import "./components/SearchInput/searchinput.scss";
@import "./components/CountryList/country-list.scss";
@import "./components/Country/country.scss";
@import "./components/FilterButton/filterbutton.scss";

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

.light {
  background-color: #fafafa;
}

.light-header {
  background-color: #fff;
}

.dark {
  background-color: #202c36;
}

.dark-header {
  background-color: #2b3844;
}

.container {
  max-width: 915px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}
