@import "./Components/Header/header.scss";
@import "./Components/Searchbar/searchbar.scss";
@import "./Components/CountryList/country-list.scss";
@import "./Components/Country/country.scss";

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.light {
  background-color: #FAFAFA;
}

.light-header {
  background-color: #fff;
}

.dark {
  background-color: #202C36;
}

.dark-header {
  background-color: #2B3844;
}

.container {
  max-width: 915px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .container {
     max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 25px;
  }
}